<nav class="navbar navbar-fixed-top navbar-inverse">
  <!--头部信息-->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Movies Finder </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/upcoming" routerLinkActive="active">Upcoming Movies最新影片</a></li>
        <li><a routerLink="/popular" routerLinkActive="active">Popular Series流行电影</a></li>
      </ul>
    </div>
  </div>
</nav>
