<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".movies-cat">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse movies-cat">
      <div class="panel-heading">
        <h4>Movies Category影片分类</h4>
      </div>
      <ul class="nav nav-stacked">
        <!-- routerLink 路由跳转  routerLinkActive 点击后可以添加样式类-->
        <li *ngFor="let genre of genres">
            <a routerLink="/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item">{{genre.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
